<div class="back">
  <div class="div-center">
    <div class="content">
      <h3>Sign Up</h3>
      <hr />
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Name"
            formControlName="name"
          />
        </div>
        <ng-container
          *ngIf="name && name.invalid && (name.dirty || name.touched)"
        >
          <p class="text-danger" *ngIf="name.errors?.['required']">
            Name is required.
          </p>
        </ng-container>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Email"
            formControlName="email"
          />
        </div>
        <ng-container
          *ngIf="email && email.invalid && (email.dirty || email.touched)"
        >
          <p class="text-danger" *ngIf="email.errors?.['required']">
            Email is required.
          </p>
          <p class="text-danger" *ngIf="email.errors?.['email']">
            Email must be a valid email address.
          </p>
        </ng-container>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        <ng-container
          *ngIf="
            password && password.invalid && (password.dirty || password.touched)
          "
        >
          <p class="text-danger" *ngIf="password.errors?.['required']">
            Password is required.
          </p>
        </ng-container>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="signupForm.invalid"
        >
          Sign Up
        </button>
        <hr />
        <button type="button" class="btn btn-link" [routerLink]="'/login'">
          Login
        </button>
        <!-- <button type="button" class="btn btn-link">Reset Password</button> -->
      </form>
    </div>
  </div>
</div>
